@page
@model QRStickers.Pages.Identity.Account.LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<h1>@ViewData["Title"]</h1>
<p>You have successfully logged out.</p>
<p><a asp-page="/Index">Return to home</a> | <a asp-page="/Identity/Account/Login">Log in again</a></p>
