@page
@model QRStickers.Pages.Meraki.ConnectModel
@{
    ViewData["Title"] = "Connecting to Meraki";
}

<h1>Connecting to Meraki</h1>
<p>Redirecting to Meraki OAuth authorization...</p>
<p>If you are not redirected automatically, <a href="/">return to home</a>.</p>
